@import "settings";

$button-transition-speed: 600ms;
$button-animation-iteration: 3;

$delay-map: (delay0: 0s, delay1: 300ms);

@media screen and (max-width: 480px) {
    #broadcastInput{
        font-size: rem-calc(32);
        height: rem-calc(32);
    }
}

#canvasContainer, html, body{
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#broadcastInput{
    margin-top: 20px;
    border-width: 0px 0px 1px 0px;
}
#broadcastInput:focus{
    // border-width: 1px 1px 1px 1px;
    border-color: $light-gray;
}

canvas {
    position: fixed;
    left:0;
    right:0;
    bottom:0;
    top:0;
    z-index: -1;
}

.non-canvas {
    position: relative;
    z-index: 1;
}

.button{
    font-size: 1.5rem;
}

.button.fade{
    color: rgba($color: white, $alpha: .25);
}

.button.fade:hover{
    color: rgba($color: white, $alpha: 1);
    background-color: rgba($color: black, $alpha: 1.0);
}

.modalRowElement{
    font-size: rem-calc(20);
    color: rgba($color: black, $alpha: 1);
    line-height: rem-calc(20);
    height: rem-calc(35);
}

@each $delay-name, $delay-time in $delay-map {
    .button.pulse-flash-on-#{$delay-name} {
        animation-name: buttonFlash;
        animation-duration: $button-transition-speed;
        animation-iteration-count: $button-animation-iteration;
        animation-timing-function: ease-in-out;
        animation-delay: #{$delay-time};
    }
}

// .button.pulse-flash-on{
//     animation-name: buttonFlash;
//     animation-duration: $button-transition-speed;
//     animation-iteration-count: $button-animation-iteration;
//     animation-timing-function: ease-in-out;
// }

@keyframes buttonFlash{
    0%{
        background-color: map-get($foundation-palette, "fade");
    }
    50%{
        background-color: rgba($color: yellow, $alpha: 1.0);
        color: rgba($color: black, $alpha: 1.0);
    }
    100%{
        background-color: map-get($foundation-palette, "fade");
    }
}

/* cyrillic */
@font-face {
    font-family: 'Bad Script';
    font-style: normal;
    font-weight: 400;
    src: local('./assets/fonts/cyrillic_badScript.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
    font-family: 'Bad Script';
    font-style: normal;
    font-weight: 400;
    src: local('./assets/fonts/latin_badScript.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}